.main-form {}


.main-form__container {
    display: flex;
    flex-direction: column;

    @include respond-to("tel") {
        max-width: 100% !important;
        margin: 0 !important;
    }
}

.main-form__wrap {
    background: url('../images/form/form-bg.png') center/cover no-repeat;
    border-radius: clamp-px(24, 32);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    position: relative;

    @include respond-to("nout") {
        flex-direction: column;
        padding: clamp-px(32, 60) clamp-px(20, 60) 0 clamp-px(20, 60);
    }
}

.main-form__text-box {
    flex: 1 1 calc((100% - 20px * 1) /2);
    max-width: clamp-px(650, 955);
    padding: clamp-px(32, 60) 0 clamp-px(32, 60) clamp-px(20, 60);
    position: relative;
    z-index: 2;

    @include respond-to("nout") {
        padding: 0;
        flex: 0 1 100%;
        max-width: 100%;
    }
}

.main-form__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: clamp-px(32, 48);
    line-height: 130%;
    text-transform: uppercase;
    color: var(--text-text--white);
    margin-bottom: clamp-px(18, 24);
}

.main-form__subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp-px(16, 24);
    line-height: 133%;
    color: var(--text-text--white);
    margin-bottom: clamp-px(50, 60);
}

.primary-form {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;



    @include respond-to("pc") {
        flex-direction: column;
        max-width: 400px;
    }

    @include respond-to("nout") {

        max-width: 100%;
    }
}

.form__row {
    & input {
        border-radius: clamp-px(8, 10);
        padding: clamp-px(14, 16) 20px clamp-px(14, 16) 16px;
        width: 330px;
        background: var(--text-text--white);

        @include respond-to("pc") {
            width: 100%;
        }
    }

}

.primary-form__btn {
    max-width: 200px;
    padding: 8px 24px;

    @include respond-to("pc") {
        max-width: 100%;
    }
}

.agree-box {
    margin-top: clamp-px(12, 20);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp-px(14, 18);
    line-height: 156%;
    color: rgba(255, 255, 255, 0.5);

    & a {
        color: var(--text-text--white);
    }
}

.main-form__img-box {
    position: absolute;
    aspect-ratio: 1/0.8;
    width: clamp-px(310, 559);
    bottom: 0;
    right: 20px;

    &>picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &>img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include respond-to("nout") {
        position: relative;
        margin: 0 auto;
        bottom: auto;
        right: auto;
    }
}