.tertiary-form-wrap {}

.tertiary-form__container {
    position: relative;
    border-radius: clamp-px(24, 32);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: clamp-px(414, 698);
    gap: clamp-px(64, 100);
}

.tertiary-form__header {
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;
    z-index: 2;
    text-align: center;
}

.tertiary-form__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp-px(20, 30);
    line-height: 100%;
    color: var(--text-text--white);
}

.tertiary-form__link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: clamp-px(37, 97);
    line-height: 130%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: var(--text-text--white);
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.tertiary-form__footer {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
}

.tertiary-form__subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp-px(16, 24);
    line-height: 133%;
    text-align: center;
    color: var(--text-text--white);
}

.tertiary-form__mail {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp-px(18, 28);
    line-height: 114%;
    text-align: center;
    color: var(--text-text--white);
}