:root {
    body {
        overflow-x: hidden;
    }

    //container
    .container {
        max-width: 1800px;
        margin: 0 auto;

        @include respond-to("pc") {
            max-width: 1210px;
        }

        @include respond-to("pc-old") {
            max-width: 1010px;
        }

        @include respond-to("nout") {
            max-width: 800px;
        }

        @include respond-to("tab") {
            max-width: 650px;
        }

        @include respond-to("tel") {
            max-width: 410px;
        }

        @include respond-to("tel-old") {
            // max-width: 325px;
            max-width: 100%;
        }
    }

    section,
    footer,
    header {
        padding: 0 20px;

        @include respond-to("tel") {
            padding: 0 8px;
        }
    }

    //===========Шрифты============
    --font-family: "Manrope",
    sans-serif;
    --second-family: "Golos Text",
    sans-serif;
    --third-family: "Inter",
    sans-serif;
    --font3: "NTSomic",
    sans-serif;
    //===========Цвета===========
    --text-text-1: #111827;
    --text-text-2: #585f6a;
    --text-text-3: #9299a5;
    --text-text--white: #fff;
    --text-link: #3f7cff;
    --text-link-hover: #3d6dd7;
    --borders-border-1: #ebedf1;
    --borders-border-2: #d9dbdf;
    --borders-border-3: #b7beca;
    --borders-border-4: #2e3444;
    --borders-border-black: #111827;
    --borders-border-brand: #4c84fd;
    --borders-border-error: #e83838;
    --background-bg-0: #fff;
    --background-bg-1: #eef1f9;
    --background-bg-2: #edeef0;
    --background-bg-3: #e5e7eb;
    --background-bg-4: #f7f8fb;
    --background-bg-green: #ecfdf5;
    --background-bg-orange: #fff8eb;
    --background-bg-blue: #f1f6fe;
    --button-main-orange: #fa9621;
    --button-main-red-hover: #ed8a16;
    --button-main-blue: #4c84fd;
    --button-main-blue-hover: #0b50e3;
    --button-main-green: #10b981;
    --button-main-green-hover: #0aad77;
    --button-main-overlay: #fff;
    --button-main-overlay-hover: rgba(255, 255, 255, 0.9);
    --button-main-no-active: #c3c7cb;
    --button-secondary-light-orange: #fff7eb;
    --button-secondary-light-orange-hover: #fff2df;
    --button-secondary-light-blue: #e1eafe;
    --button-secondary-light-blue-hover: #cbdbff;
    --button-secondary-light-green: #ecfaf5;
    --button-secondary-light-green-hover: #dbf5ec;
    --button-secondary-grey: #f4f5f6;
    --button-secondary-grey-hover: #ebecee;
    --button-secondary-overlay: rgba(255, 255, 255, 0.12);
    --button-secondary-overlay-hover: rgba(255, 255, 255, 0.17);
    --brand-colors-main: #f02d39;
    --brand-colors-secondary-1: #de7337;
    --brand-colors-secondary-2: #b29b81;
    // ===========gap===========
    --gap: 20px;

    //---------font-weight--------------
    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    //---------font-size--------------
    --fs-8: 0.5rem;
    --fs-10: 0.63rem;
    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-15: 0.94rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-19: 1.188rem;
    --fs-20: 1.25rem;
    --fs-21: 1.31rem;
    --fs-22: 1.38rem;
    --fs-24: 1.5rem;
    --fs-26: 1.63rem;
    --fs-28: 1.75rem;
    --fs-30: 1.875rem;
    --fs-32: 2rem;
    --fs-34: 2.13rem;
    --fs-35: 2.1875rem;
    --fs-38: 2.38rem;
    --fs-36: 2.25rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
    --fs-44: 2.75rem;
    --fs-52: 3.25rem;
    --fs-64: 4rem;
    --fs-68: 4.25rem;
    --fs-80: 5rem;
    --fs-82: 5.13rem;
    --fs-90: 5.63rem;
    --fs-232: 14.5rem;
    --fs-463: 28.94rem;
    //----------line-height-------------
    --lh-100: 100%;
    --lh-110: 110%;
    --lh-115: 115%;
    --lh-125: 120%;
    --lh-120: 125%;
    --lh-130: 130%;
    --lh-135: 135%;
    --lh-140: 140%;
    --lh-145: 145%;
    --lh-150: 150%;
    --lh-160: 160%;
    --lh-170: 170%;
    --lh-175: 175%;
    --lh-180: 180%;
}